body {
  background-image: url(BgTexture.png);
  background-repeat: repeat;
  background-size: 800px;
  overflow: hidden;
}
.HomeBackground {
  margin: 0;
  width: 100%;
  padding: 0;
}
#homepagebackground {
  left: 50%;
  width: 500px;
  position: relative;
  cursor: default;
  margin-left: -250px;
}


@media screen and (max-width: 1020px) {
  #homepagebackground {
    width: 100%;
    position: absolute;
    margin-left: 0px;
    left: 0;
  }
}