body {
  background-image: url(BgTexture.png);
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}
.HomeBackground {
  margin: 0;
  padding: 0;
}
#homepagebackground {
  width: 100%;
  position: relative;
  cursor: default;
}

#spanTexture {
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 1020px) {
  #homepagebackground {
    width: 450%;
    position: absolute;
    left: -174.5%;
  }
}